---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<span>
		Choisi une salle dans le bouton juste au-dessu !
	</span>
</Layout>

<style>
	span{
		width: 75vw;
		text-align: center;
		color: var(--text-color);
	}
</style>