---
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<Menu />
    <div class="pad-grid">
        <span>Pas de sons ici !</span>
    </div>
	<Footer />
</Layout>

<style>
    .pad-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 3rem;
    }

    span{
        color: var(--text-color);
    }
</style>