---
import Pad from "../components/Pad.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="pad-grid">
        <Pad name="Magique" sound="/leotilus-soundboard/Sons/pluie-traverse.mp3" color="var(--pad4)"/>
    </div>
</Layout>

<style>
    .pad-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 3rem;
    }
</style>