---
import Pad from "../components/Pad.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="pad-grid">
        <Pad name="Bateau" sound="/leotilus-soundboard/Sons/son-bateau.mp3" color="var(--pad6)"/>
        <Pad name="Fétiche" sound="/leotilus-soundboard/Sons/rire-demoniaque.mp3" color="var(--pad7)"/>
    </div>
</Layout>

<style>
    .pad-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 3rem;
    }
</style>